<settings>
  <servers>
    <server>
      <id>github-game-elements</id>
      <username>${env.GITHUB_ACTOR}</username>
      <password>${env.GH_PACKAGES_TOKEN}</password>
    </server>
    <server>
      <id>github-connection-library</id>
      <username>${env.GITHUB_ACTOR}</username>
      <password>${env.GH_PACKAGES_TOKEN}</password>
    </server>
  </servers>
</settings>
